{% extends 'base.html.twig' %}
{% block body %}
    {{ render( controller('App\\Controller\\Base\\BaseController::pageHeader', {}))}}

    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>{{ t('welcome')|trans }}</h1>
                <p>{{ currentLocale }}</p>
            </div>
        </div>

        Link: <a href="{{ path('admin') }}">Admin</a>
    </div>

    {{ render( controller('App\\Controller\\Base\\BaseController::pageFooter', {}))}}

 {% endblock %}