{% extends 'base.html.twig' %}
{% block body %}
    {{ render( controller('App\\Controller\\Base\\BaseController::pageHeader', {}))}}

    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>{{ t(pageTitel) }} ({{ portalEntity.locale }})</h1>
            </div>
            <div class="panel-body">
                {{ portalEntity.imprint | raw }}
            </div>
        </div>
    </div>

    {{ render( controller('App\\Controller\\Base\\BaseController::pageFooter', {}))}}

{% endblock %}