{% extends 'base.html.twig' %}
{% block body %}
    <h>Users</h>

    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Website</th>
                <th>Company</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {{ user.address.street }}<br>
                    {{ user.address.suite }}<br>
                    {{ user.address.city }}<br>
                    {{ user.address.zipcode }}<br>
                    Lat: {{ user.address.geo.lat }}<br>
                    Lng: {{ user.address.geo.lng }}<br>
                </td>
                <td>
                    {{ user.phone }}
                </td>
                <td>{{ user.website }}</td>
                <td>
                    {{ user.company.name }}<br>
                    {{ user.company.catchPhrase }}<br>
                    {{ user.company.bs }}<br>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}