{% extends 'base.html.twig' %}
{% block body %}
    {{ render( controller('App\\Controller\\Base\\BaseController::pageHeader', {}))}}
    <div class="col-6">
        <h1>Page</h1>
        {{ form(form) }}
    </div>

    <div class="col-6">
        {% if pages is not empty %}
            <table>
                <thead>
                <tr >
                    <th scope="col">id</th>
                    <th scope="col">Portal_id</th>
                    <th scope="col">Content</th>
                    <th scope="col">Created at </th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
            {% for p in pages %}
                <tr>
                    <td scope="row">{{ p.id }}</td>
                    <td scope="row">{{ p.portalId }}</td>
                    <td scope="row">{{ p.content }}</td>
                    <td scope="row">{{ p.created|date('Y-m-d H:i:s') }}</td>
                    <td>
                        <a href="{{ path('admin_page_del', { pageid: p.id }) }}" class="btn btn-primary">
                            Delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

    {{ render( controller('App\\Controller\\Base\\BaseController::pageFooter', {}))}}

{% endblock  %}